# Database Configuration
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRATION=
JWT_ISSUER=
# CORS Configuration
CORS_ALLOWED_ORIGINS=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Server Configuration
PORT=8080

# GCP Storage Configuration
GCS_BUCKET=
GCS_CREDENTIALS_FILE=
GCP_PROJECT_ID=
